body {
    background-color: var(--main-bg-color, #011212);
}

.ball {
    width: var(--ball-width, 100px);
    height: var(--ball-heigth, 100px);
    background-color: var(--ball-bg-color, #ff8800);
    border-radius: var(--ball-border-radius, 50px);
}